# Infrastructure - MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=online_judge
DATABASE__HOST=db
DATABASE__PORT=3306
DATABASE__USER=root
DATABASE__PASSWORD=root
DATABASE__NAME=online_judge

# Infrastructure - Kafka (KRaft)
KAFKA__BROKERS=kafka:9092
ALLOW_PLAINTEXT_LISTENER=yes

# Backend - General
GO_ENV=development
LOG_LEVEL=info

# Frontend
NODE_ENV=production
FRONTEND_EXTERNAL_PORT=3000
